.header{
	background: #E2E2E2;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.container_header{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.logo{
	display: flex;
	align-items: center;
}
.img_logo{
	margin-right: 10px;
}
.title_logo{
	color: #2C2C2C;
font-family: Noto Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.list_nav{
	list-style:none ;
	display: flex;
}
.item_nav{
	margin-right: 63px;
}
.link_nav{
	color: #E29500;
font-family:'Noto Sans';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

text-decoration: none;
}
/* HB */
.hb{
background: #E2E2E2;
padding: 66px 0;
}
.hb_img{
	width: 632px;
}
.container_hb{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title_hb{
	color: #2C2C2C;
font-family: Noto sans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;

width: 544px;
}
.text_hb{
	color: #2C2C2C;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;


width: 453px;
}
.button_hb{
	color: black;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: orange;
padding: 12px 62px;
}
.title_about{
	color: #2C2C2C;
font-family: Noto sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal

text alight: center;
margin: 0;
padding: 30px;
}
.progress{
	color: #2C2C2C;
font-family: Noto sans;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.title_left{
	color: #2C2C2C;
font-family: Noto sans;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about{
	background:#FFF;;
}
.list_left{
	list-style: none;
	padding:0;
	margin: 0;
}
.bar{
	background: #E2A300;
	width: 356px;
	height: 10px;
}
.done{
	background: #2C2C2C;
	width: 80%;
	height: 100%;
}
.right{
	position:relative ;

}
.star1{
	position:absolute ;
	top: 0;
	left: 400px;

}
.about_img{
	border-radius: 575px;
border: 67px solid #E2E2E2;
box-shadow: 0px 0px 152px 0px #3E3E3E;
}
.content_about{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title_about{
	padding:70px 0 100px 0 ;
	text-align: center;
}
.video{
	background: #E2E2E2;
	padding: 75px 0;
}
.title_video{
	color: #2C2C2C;
font-family: Noto sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

text-align: center;
}

.YT{
	margin: 0 auto;
	display: block;
	border:45px solid #E2E2E2;
	box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.28);
	border-radius: 29px;
}
.gallery_list{
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.gallery_img{
	width: 100%;
}
.gallery_item{
	width: 33%;
}
.title_gallery{
	color: #2C2C2C;
font-family: Noto sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

text-align: center;
margin: 0;
padding: 30px;
}
.gallery{
	background: #FFF;
	padding-bottom: 30px;
}
.footer{
	background-color: #2C2C2C;
}

.container_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0 52px;
}

.footer__title{
	color: #000000;
font-family: Noto sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164.063%; 
}
.footer__img{
	width: 100%;
}
.footer__list{
	display: flex;
	list-style: none;
}

.footer__item{
	width: 50px;
	height: 50px;
	margin-right: 30px;
}